/* =====================================================
   RESPONSIVE BREAKPOINTS
   =====================================================

   Mobile:  < 769px
   Tablet:  769px - 1024px
   Desktop: 1025px - 1440px
   Large:   >= 1441px

   Se alterar estes valores, atualizar as media queries.
   ===================================================== */

.qubic-logo{
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

/* @media (max-width: 768px){
  .qubic-logo{
    width: 11vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .qubic-logo{
    width: 11vw;
  }
} */

@media (min-width: 1025px){
  .qubic-logo{
    width: clamp(100px, 11vw, 200px);
  }
}

@media (max-height: 800px) {
  .qubic-logo{
    top: 11.98%;
  }
}

@media (min-height: 801px){
  .qubic-logo{
    top: 14.17%;
  }
}

.powered-by-panel-login{
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1025px){
  .powered-by-panel-login{
    width: 15vw;
    height: 7vh;
  }
}

@media (max-height: 800px) {
  .powered-by-panel-login{
    bottom: 5%;
  }
}

@media (min-height: 801px){
  .powered-by-panel-login{
    bottom: 5%;
  }
}

.powered-by-text-login{
  position: relative;
  top: 0%;
  width: auto;
  height: 1.4vh;
  font-size: 1.4vh;
  color: #999999;
}

.powered-by-logo-login{
  position: relative;
  top: 1.4vh;

  width: auto;
  height: 5.7vh;
}

.login-panel-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;

  background: linear-gradient(180deg, #FFFFFF1A 0%, #0000003E 100%);
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 1280px){
  .login-panel-login{
    width: clamp(320px, 38vw, 520px);
    padding-left: min(30px, 2vw);
    padding-right: min(30px, 2vw);
    border-radius: clamp(15px , 1.4vw, 25px);
  }
}

@media (min-width: 1281px){
  .login-panel-login{
    width: clamp(320px, 33.6vw, 520px);
    padding-left: min(30px, 2vw);
    padding-right: min(30px, 2vw);
    border-radius: clamp(15px , 1.4vw, 25px);
  }
}

@media (max-height: 800px) {
  .login-panel-login{
    height: 45vh;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /* gap: 8%; */
  }
}

@media (min-height: 801px){
  .login-panel-login{
    height: 35vh;
    padding-top: 2%;
    padding-bottom: 2%;
    /* gap: 10%; */
  }
}

.login-panel-register{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  background: linear-gradient(180deg, #FFFFFF1A 0%, #0000003E 100%);
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px){
  .login-panel-register{
    width: clamp(320px, 38vw, 520px);
    padding-left: min(30px, 2vw);
    padding-right: min(30px, 2vw);
    border-radius: clamp(15px , 1.4vw, 25px);
  }
}

@media (min-width: 1281px){
  .login-panel-register{
    width: clamp(320px, 33.6vw, 520px);
    padding-left: min(30px, 2vw);
    padding-right: min(30px, 2vw);
    border-radius: clamp(15px , 1.4vw, 25px);
  }
}

@media (max-height: 800px) {
  .login-panel-register{
    height: 52vh;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /* gap: 8%; */
  }
}

@media (min-height: 801px){
  .login-panel-register{
    height: 40vh;
    padding-top: 2%;
    padding-bottom: 2%;
    /* gap: 8%; */
  }
}

.login-panel-title {
  position: relative;
  width: auto;
  height: auto;
  top: 0%;

  text-align: center;
  color: #999999;
  text-transform: uppercase;
  opacity: 1;
}

@media (max-height: 800px) {
  .login-panel-title {
    font-size: clamp(12px, 3vh, 17px);
  }
}

@media (min-height: 801px){
  .login-panel-title {
    font-size: clamp(12px, 1.7vh, 17px);
  }
}

.login-panel-error-or-info{
  position: static;
  width: 100%;
  height: 20%;
  margin: 0;
  margin-top: 3%;

  text-align: center;
  color: #FFFFFF;
  opacity: 1;
}

@media (max-height: 800px) {
  .login-panel-error-or-info {
    font-size: clamp(11px, 2vh, 16px);
  }
}

@media (min-height: 801px){
  .login-panel-error-or-info {
    font-size: clamp(11px, 1.6vh, 16px);
  }
}

.login-panel-error-or-info p {
  margin: 0;
  line-height: 1.4;
}

.login-panel-register-error-or-info{
  position: static;
  width: 100%;
  height: 10%;
  margin: 0;
  margin-top: 3%;

  text-align: center;
  color: #FFFFFF;
  opacity: 1;
}

@media (max-height: 800px) {
  .login-panel-register-error-or-info {
    font-size: clamp(11px, 2vh, 16px);
  }
}

@media (min-height: 801px){
  .login-panel-register-error-or-info {
    font-size: clamp(11px, 1.6vh, 16px);
  }
}

.login-panel-register-error-or-info p {
  margin: 0;
  line-height: 1.4;
}

.login-form {
  position: static;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-height: 800px) {
  .login-form {
    margin-top: 4%;
    gap: 2vh;
  }
}

@media (min-height: 801px){
  .login-form {
    margin-top: 4%;
    gap: 1.6vh;
  }
}

.input-container {
  position: relative;
  width: 100%;
}

@media (max-height: 800px) {
  .input-container {
    height: clamp(40px, 7vh, 64px);
  }
}

@media (min-height: 801px){
  .input-container {
    height: clamp(40px, 6vh, 54px);
  }
}

.input-container:hover {
  cursor: pointer;
}

.input-container label {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translatey(-50%);
  text-align: left;
  width: 100%;
  color: #FFFFFF;
  opacity: 0.6;
  
  padding-left: 0.8vw;
  pointer-events: none;
  transition: 0.2s ease;
}

@media (max-height: 800px) {
  .input-container label {
    font-size: clamp(12px, 2.1vh, 16px);
  }
}

@media (min-height: 801px){
  .input-container label {
    font-size: clamp(12px, 1.5vh, 16px); 
  }
}

.input-container label.active {
  top: 25%;
}

@media (max-height: 800px) {
  .input-container label.active {
    font-size: clamp(11px, 1.4vh, 16px);
  }
}

@media (min-height: 801px){
  .input-container label.active {
    font-size: clamp(11px, 1vh, 16px);
  }
}

.input-container:hover label {
  opacity: 1;
}

.input-container:hover label.active {
  opacity: 0.6;
}

.login-input {
  position: static;
  top: auto;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: none;
  border-radius: 4px;

  padding-left: 0.8vw;
  padding-top: 1.5vh;
  box-sizing: border-box;
  color: #FFFFFF;
}

@media (max-height: 800px) {
  .login-input {
    height: clamp(40px, 7vh, 64px);
    font-size: clamp(12px, 2vh, 20px);
  }
}

@media (min-height: 801px){
  .login-input {
    height: clamp(40px, 6vh, 54px);
    font-size: clamp(12px, 1.5vh, 16px);
  }
}

.login-input:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.login-input:focus {
  outline: none;
}

.login-input-error {
  opacity: 1;
  border: 1px solid rgba(255, 102, 102, 1);
  background-color: rgba(255, 102, 102, 0.2);
}

.login-input-error:hover {
  opacity: 1;
  cursor: pointer;
}

.login-input-error:focus {
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.login-actions {
  position: relative;
  margin-top: 3%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login-button {
  position: relative;
  overflow: hidden;
  width: 40%;

  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: rgba(255,255,255,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

@media (max-height: 800px) {
  .login-button {
    height: clamp(38px, 6vh, 50px);
  }
}

@media (min-height: 801px){
  .login-button {
    height: clamp(38px, 5.1vh, 50px);
  }
}

.login-button .background {
  position: absolute;
  inset: 0;
  transition: all 0.3s ease;
}

.login-button:hover .background {
  background-color: white;
  opacity: 1;
}

.login-button .text{
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  transition: all 0.3s ease;
}

@media (max-height: 800px) {
  .login-button .text{
    font-size: clamp(12px, 2vh, 16px);
  }
}

@media (min-height: 801px){
  .login-button .text{
    font-size: clamp(12px, 1.5vh, 16px);
  }
}

.login-button:hover .text{
  z-index: 1;
  color: #3E3E3E;
}

.login-options{
  width: 50%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-height: 800px) {
  .login-options {
    height: clamp(38px, 6vh, 50px);
  }
}

@media (min-height: 801px){
  .login-options {
    height: clamp(38px, 5.1vh, 50px);
  }
}

.login-options p {
  margin-top: 0;
  margin-bottom: 0;
  
  text-align: left;
  cursor: pointer;
  color: #DEDEDE;
  opacity: 0.8;
  transition: all 0.3s ease;
}

@media (max-height: 800px) {
  .login-options p {
    font-size: 14px;
  }
}

@media (min-height: 801px){
  .login-options p {
    font-size: 13px;
  }
}

.login-options:hover p{
  color: #FFFFFF;
}

.login-options span {
  text-decoration: none;
}

.login-options:hover span {
  text-decoration: underline;
}

.changePassword-username-input {
  position: static;
  top: auto;
  width: 100%;
  height: clamp(40px, 6vh, 54px);

  font-size: clamp(12px, 1.5vh, 16px);
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  border: none;
  border-radius: 4px;

  padding-left: 0.8vw;
  padding-top: 1.5vh;
  box-sizing: border-box;
  color: #FFFFFF;

  cursor: default;
  user-select: none;
}