.measurementHistory-container{
  position: absolute;
  left: 1.6%;
  top: 15.2%;
  width: 96.8%;
  height: 81.7%;

  display: flex;
  flex-direction: column;

  padding: 2vh 1.5vw;
  box-sizing: border-box;

  font-size: 2vh;

  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  overflow-y: auto;
}

.measurementHistory-container .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.3;
  z-index: 0;
}

.searchBar {
  position: relative;
  width: 95%;
  height: 10%;
  margin: 0 auto;
  top: 2%;
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 2%;
}

.sort-container {
  width: 20%;
  height: 80%;
  background-color: rgba(255,255,255,0.08);
  border-radius: 0.3vw;
  z-index: 51;
}

.sort-container:hover {
  background-color: rgba(255,255,255,0.04);
}

.sort-selected{
  cursor: pointer;
}

.sort-title{
  font-size: 1.3vh;
  color: #999;
}

.sort-value{
  font-size: 2vh;
  color: white;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.sort-dropdown{
  width:100%;
  border-radius:0.5vw;
  background-color: rgba(255,255,255,0.04);
}

.sort-option{
  padding:1vh;

  color:white;

  display:flex;
  justify-content:space-between;

  cursor:pointer;
}


.sort-option:hover{
  background-color: rgba(255,255,255,0.08);
}

.history-container {
  position: relative;
  width: 95%;
  height: 90%;
  margin: 0 auto;
  top: 3%;
}

.history-table{
  height: 90%;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: flex-start;


  scrollbar-width: none;
  -ms-overflow-style: none;
}

.history-table::-webkit-scrollbar {
  display: none;
}

.history-header,
.history-row {
  display: grid;
  grid-template-columns: 
    0.5fr 
    0.8fr 
    1.5fr 
    1fr 
    1.2fr 
    1fr 
    1.8fr
    0.15fr;

  align-items: center;
}

.history-header div {
  color: white;
  text-align: center;
}

.history-header{
  height: 8%;
}

.history-row {
  height: 14%;
  cursor: pointer;
}

.history-row div {
  color: white;
  justify-content: center;
  align-items: center;
}

.history-row.even {
  background-color: rgba(255,255,255,0.08);
}

.history-row:hover {
  background: rgba(255,255,255,0.03);
}

.history-header-text{
  font-size: 1.4vh;
  opacity: 1;
}

.history-row-text{
  display: flex;
  opacity: 0.6;
  font-size: 1.6vh;
}

.more-options-button {
  margin-right: 10px;
  opacity: 0.6;
  cursor: pointer;
  font-size: 2.4vh;
  padding: 4px;
  border-radius: 20px;
  text-align: center;
}

.more-options-button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  transition: 0.3s;
}

.more-options-button.active {
  transform: scale(1.10);
  opacity: 1;
  transition: 0.3s;
}

.menu-item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5% 10%;
  z-index: 1021;
}

.menu-item:hover {
  opacity: 1;
}

.measurements-config-modal{
  position: absolute;
  width: 7%;
  height: 4%;
  transform: translate(-100%, 90%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.measurements-config-modal .background{
  position: absolute;
  inset: 0;

  background: #1F1F1F;
  border-radius: 0.3vw;
  border: 1px solid #99999939;

  z-index: 1020;
}

.measurements-config-modal .deleteMeasurements-icon {
  height: 88%;
  object-fit: contain;
  
  margin-right: 15%;

  transition: opacity 0.3s;

  z-index: 1021;
}

.measurements-config-modal .deleteMeasurements-text{
  font-size: 1.6vh;
  color: #ff6666;
  z-index: 1021;
}

.measurement-config-modal{
  position: absolute;
  width: 6%;
  height: 4%;
  transform: translate(-100%, 100%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.measurement-config-modal .background{
  position: absolute;
  inset: 0;

  background: #1F1F1F;
  border-radius: 0.3vw;
  border: 1px solid #99999939;

  z-index: 1020;
}

.measurement-config-modal .deleteMeasurement-icon {
  height: 80%;
  object-fit: contain;
  
  margin-right: 15%;

  transition: opacity 0.3s;

  z-index: 1021;
}

.measurement-config-modal .deleteMeasurement-text{
  font-size: 1.6vh;
  color: #ff6666;
  z-index: 1021;
}

.measurement-info-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.measurement-info-window {
  position:relative;
  width: 90%;
  height: 75%;

  background: #3E3E3E;
  border-radius: 0.8vw;
}

.measurement-info-title {
  position: absolute;
  left: 2%;
  margin-top: 2%;
  width: 15%;
  color: white;
  font-size: 2vh;
  text-transform: uppercase;
  text-align: left;
  font-family: "Inter Regular", sans-serif;
  transition: color 0.3s ease;
}

.measurement-info-button{
  position: absolute;
  top: 2%;
  right: 1%;
  width: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;

  transition: all 0.3s ease;
}

.measurement-info-button:hover {
  opacity: 1;
}

.measurement-info-button:hover .text {
  color: black;
}

.measurement-info-img-wrapper {
  position: absolute;
  top: 52%;
  left: 2%;
  transform: translateY(-50%);

  width: 44%;

  object-fit: contain;
  overflow: hidden;
  border-radius: 0.8vw;
}

.measurement-object-img{
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;

  object-fit: cover;
  
  display: block;
  z-index: 1;
}

.measurement-boxInfo-container{
  position: absolute;
  left: 63%;
  top: 52%;
  width: 35%;
  height: 83%;

  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  padding: 2vh 1.5vw;
  box-sizing: border-box;

  font-size: 2vh;

  justify-content: flex-start;
  align-items: flex-start;
}

.measurement-boxInfo-container .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.5;
  z-index: 0;
}

.measurement-boxInfoText-container{
  position: absolute;
  top: 67.8%;
  left: 4.7%;
  height: 28.4%;
  width:90.5%;
}

.measurement-boxInfo-text{
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.measurement-boxInfo-text .label {
  width: 90.5%;
  text-align: left;
}

.measurement-boxInfo-text .value {
  width: 8vw;
  text-align: right;
}

.measurement-boxInfo-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 1.7vh;
  font-family: "Inter Regular", sans-serif;
  opacity: 0.8;
  color: white;
  text-align: center;
}

.measurement-volume-canvas {
  width: 100%;
  height: 60%;
  z-index: 1;
}

.measurement-object-selection-menu{
  position: relative;
  left: 47%;
  top: 52%;
  transform: translateY(-50%);
  width: 15%;
  height: 83%;

  display: flex;
  flex-direction: column;

  font-size: 2vh;

  padding: 2vh 0.75vw;
  box-sizing: border-box;

  overflow-y: auto;
}

.measurement-object-selection-menu .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.5;
  z-index: 0;
}

.measurement-object-list {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

.measurement-object-item{
  color: white;
  cursor: pointer;
  opacity: 0.6;

  display: flex;
  align-items: center;

  margin-bottom: 1.6vh;
}

.measurement-arrow {
  width: 0.8vw;
  font-size: 1vh;
  text-align: left;
}

.measurement-object-item:hover{
  opacity: 1;
}

.measurement-object-item.selected {
  color: #38E1FF;
  opacity: 1;
}

.measurement-object-total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 0.8vh;
  margin-top: 0.8vh;
  margin-bottom: 1.6vh;
  margin-left: 0.8vw;

  cursor: default;
  color: white;
  z-index: 1;
}

.measurement-total-value {
  font-family: "Inter Bold", sans-serif;
}

.measurement-boxBundleInfo-container{
  position: absolute;
  left: 48%;
  top: 52%;
  width: 50%;
  height: 83%;

  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  padding: 2vh 1.5vw;
  box-sizing: border-box;

  font-size: 2vh;

  justify-content: flex-start;
  align-items: flex-start;
}

.measurement-boxBundleInfo-container .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.5;
  z-index: 0;
}

.measurement-boxBundleInfoText-container{
  position: absolute;
  top: 50%;
  left: 4.7%;
  height: 36.4%;
  width:30.5%;
  transform: translate(0, -50%);
}

.measurement-boxBundleInfo-text{
  display: flex;
  align-items: center;
  margin-bottom: 6%;
}

.measurement-boxBundleInfo-text .label {
  width: 90.5%;
  text-align: left;
}

.measurement-boxBundleInfo-text .value {
  width: 8vw;
  text-align: right;
}

.measurement-boxBundleInfo-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 1.7vh;
  font-family: "Inter Regular", sans-serif;
  opacity: 0.8;
  text-align: center;
}

.measurement-bundle-canvas {
  position: absolute;
  top: 50%;
  left: 20.7%;
  width: 100%;
  height: 60%;
  transform: translate(0, -50%);
  z-index: 1;
}