/* .rotate-screen {
    position: fixed;
    inset: 0;
    z-index: 99999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate-screen-content {
    text-align: center;
}

.rotate-screen-icon {
    font-size: 4rem;
    margin-bottom: 2cqh;
    color: white;
}

.rotate-screen-content p {
    font-size: 1rem;
    margin: 0;
    color: white;
} */

.app-container {
  position: relative;
  width: max(100svw, 424px);
  height: max(100svh, 799px);

  container-type: size;
}

.powered-by-panel{
  position: absolute;
  left: 1.6cqw;

  display: flex;
  align-items: center;

  flex-wrap: nowrap;
  gap: 6px;
}

@media (min-width: 426px) and (max-width: 768px){
  .powered-by-panel{
    width: clamp(120px, 20.2cqw, 155px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .powered-by-panel{
    width: 155px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .powered-by-panel{
    width: 155px;
  }
}

@media (min-width: 1441px){
  .powered-by-panel{
    width: clamp(180px, 8.6cqw, 220px);
  }
}

@media (max-height: 1079px){
  .powered-by-panel{
    bottom: 1cqh;
    height: 4.4cqh;
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .powered-by-panel{
    bottom: 1cqh;
    height: 4.4cqh;
  }
}

@media (min-height: 1173px){
  .powered-by-panel{
    bottom: 1cqh;
    height: 4.4cqh;
  }
}

.powered-by-text{
  position: relative;
  top: 0cqh;
  width: auto;
  color: #999999;
}

@media (max-height: 1079px){
  .powered-by-text{
    height: clamp(11px, 1.4cqh, 14px);
    font-size: clamp(11px, 1.5cqh, 12px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .powered-by-text{
    height: 17px;
    font-size: 14px;
  }
}

@media (min-height: 1173px){
  .powered-by-text{
    height: 20px;
    font-size: 17px;
  }
}

.powered-by-logo{
  position: relative;
  width: auto;
}

@media (max-height: 1079px){
  .powered-by-logo{
    height: clamp(26px, 5.7cqh, 34px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .powered-by-logo{
    height: clamp(34px, 3.8cqh, 40px);
  }
}

@media (min-height: 1173px){
  .powered-by-logo{
    height: clamp(40px, 4.3cqh, 50px);
  }
}

.logo{
  position: absolute;
  top: 26px;
  left: 3cqw;
}

@media (min-width: 426px) and (max-width: 768px){
  .logo{
    width: clamp(60px, 13.1cqw, 100px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .logo{
    width: clamp(100px, 11.8cqw, 120px);
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .logo{
    width: 120px;
  }
}

@media (min-width: 1441px){
  .logo{
    width: 120px;
  }
}

.title-container{
  position: absolute;
  top: 4.7%;
  left: 1.5%;
  height: 7%;
  width: 45%;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-title {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  text-align: left;
}

@media (max-height: 1079px){
  .menu-title {
    font-size: clamp(24px, 3.3cqh, 27px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .menu-title {
    font-size: clamp(27px, 3.15cqh, 34px);
  }
}

@media (min-height: 1173px){
  .menu-title {
    font-size: clamp(34px, 3.34cqh, 39px);
  }
}

.menu-info {
  position: absolute;
  top: 65%;
  left: 0%;
  color: white;
  text-align: left;
}

@media (max-height: 1079px){
  .menu-info {
    font-size: clamp(13px, 1.7cqh, 14px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .menu-info {
    font-size: clamp(14px, 1.4cqh, 15px);
  }
}

@media (min-height: 1173px){
  .menu-info {
    font-size: clamp(15px, 1.54cqh, 18px);
  }
}

.warning {
  position: absolute;
  top: 13cqh;
  left: 50cqw;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8cqw;
}

.menu-wrapper{
  position: absolute;
  top: 10.4cqh;
  left: 1.5cqw;
  width: 97.1cqw;
  height: 83.3cqh;
  background: transparent linear-gradient(180deg, #FFFFFF1A 0%, #0000003E 100%) 0% 0% no-repeat padding-box;
  border-radius: 2.2cqh;
  opacity: 1;
}

.info-message {
  color: white;
}

.error-message {
  color: #ff6666;
}