.powered-by-panel{
  position: absolute;
  left: 1.6vw;
  bottom: 1vh;

  width: 10.4vw;
  height: 4.4vh;

  display: flex;
  align-items: center;

  gap: 4.2%;
  flex-wrap: nowrap;
}

.powered-by-text{
  position: relative;
  top: 0vh;
  width: 4.1vw;
  height: 1.56vh;
  font-size: 1.5vh;
  color: #999999;
  white-space: nowrap;
}

.powered-by-logo{
  position: relative;
  width: 5.8vw;
  height: 4.4vh;
}

.logo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 2.86vh;
  left: 2.9vw;

  z-index: 1;

  background: transparent;
  border: none;
  padding: none;
  appearance: none;
}

.logo img{
  width: 6.2vw;
  object-fit: contain;
}

.title-container{
  position: absolute;
  top: 4.7%;
  left: 1.5%;
  height: 7%;
  width: 25%;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-title {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 3.3vh;
  color: white;
  text-align: left;
}

.menu-info {
  position: absolute;
  top: 65%;
  left: 0%;
  font-size: 1.7vh;
  color: white;
  text-align: left;
}

.warning {
  position: absolute;
  top: 13vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}

.menu-wrapper{
  position: absolute;
  top: 10.4vh;
  left: 1.5vw;
  width: 97.1vw;
  height: 83.3vh;
  background: transparent linear-gradient(180deg, #FFFFFF1A 0%, #0000003E 100%) 0% 0% no-repeat padding-box;
  border-radius: 2.2vh;
  opacity: 1;
}

.info-message {
  color: white;
}

.error-message {
  color: #ff6666;
}
