.darker-popup {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.settings-popup {
  position: absolute;
  transform: translate(-50%, 0%);

  background: #3E3E3E;
  border-radius: clamp(10px, 0.8cqw, 20px);

  z-index: 20;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-popup {
    width: clamp(200px, 40cqw, 310px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-popup {
    width: clamp(310px, 32.3cqw, 330px);
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-popup {
    width: clamp(340px, 30cqw, 360px);
  }
}

@media (min-width: 1441px){
  .settings-popup {
    width: clamp(370px, 18cqw, 400px);
  }
}

@media (max-height: 1079px){
  .settings-popup{
    height: clamp(360px, 50cqh, 390px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-popup{
    height: clamp(390px, 50cqh, 430px);
  }
}

@media (min-height: 1173px){
  .settings-popup{
    height: clamp(430px, 50cqh, 520px);
  }
}

.settings-popup-connection {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: auto;

  z-index: 20;
}

.settings-popup-connection svg {
  display: block;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-popup-connection svg{
    width: clamp(25px, 5cqw, 35px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-popup-connection svg{
    width: clamp(35px, 5cqw, 35px);
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-popup-connection svg{
    width: clamp(35px, 5cqw, 40px);
  }
}

@media (min-width: 1441px){
  .settings-popup-connection svg{
    width: clamp(40px, 5cqw, 50px);
  }
}

.settings-popup .text{
  position: relative;
  top: 3.5%;
  padding-left: 5%;

  width: 80%;
  height: 5%;

  text-align: center;
  color: white;
  opacity: 1;
}

@media (max-height: 1079px){
  .settings-popup .text{
    font-size: clamp(13px, 2cqh, 15px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-popup .text{
    font-size: clamp(13px, 1.7cqh, 15px);
  }
}

@media (min-height: 1173px){
  .settings-popup .text{
    font-size: clamp(18px, 1.9cqh, 21px);
  }
}

.settings-buttons-container{
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 95%;
  height: 85%;

  overflow: hidden;
}

.settings-buttons-container .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #999999;
}

@media (max-height: 1079px){
  .settings-buttons-container .text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-buttons-container .text{
    font-size: clamp(12px, 1.48cqh, 14px);
  }
}

@media (min-height: 1173px){
  .settings-buttons-container .text{
    font-size: clamp(18px, 1.65cqh, 21px);
  }
}

.settings-buttons-container .label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

@media (max-height: 1079px){
  .settings-buttons-container .label{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-buttons-container .label{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .settings-buttons-container .label{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.settings-buttons-container .radio-group{
  position: relative;
  top: 7%;
  width: 95%;

  display: flex;
  flex-direction: row;
  
  padding-left: 7%;

  margin-bottom: 25px;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-buttons-container .radio-group{
    gap: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-buttons-container .radio-group{
    gap: 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-buttons-container .radio-group{
    gap: 12px;
  }
}

@media (min-width: 1441px){
  .settings-buttons-container .radio-group{
    gap: 14px;
  }
}

.settings-buttons-container .radio-option{
  display: flex;
  align-items: center;
  
  color: white;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-buttons-container .radio-option{
    gap: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-buttons-container .radio-option{
    gap: 5px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-buttons-container .radio-option{
    gap: 8px;
  }
}

@media (min-width: 1441px){
  .settings-buttons-container .radio-option{
    gap: 8px;
  }
}

.radio-option input[type="radio"]{
    margin: 0;
  }

@media (min-width: 426px) and (max-width: 768px){
  .radio-option input[type="radio"]{
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .radio-option input[type="radio"]{
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .radio-option input[type="radio"]{
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 1441px){
  .radio-option input[type="radio"]{
    width: 16px;
    height: 16px;
  }
}

.exposure-controls{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 426px) and (max-width: 768px){
  .exposure-controls{
    gap: 7px;
    width: clamp(70px, 11.8cqw, 80px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .exposure-controls{
    gap: 7px;
    width: clamp(80px, 10.8cqw, 95px);
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .exposure-controls{
    gap: 10px;
    width: clamp(95px, 8.4cqw, 110px);
  }
}

@media (min-width: 1441px){
  .exposure-controls{
    gap: 10px;
    width: 110px;
  }
}

.exposure-input{
  width: 45%;

  background: #2a2a2a;
  color: white;

  border: 1px solid #555;
  border-radius: 4px;

  text-align: center;
}

.exposure-input:focus {
  outline: none;
}

.exposure-input::-webkit-inner-spin-button,
.exposure-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.exposure-input {
    -moz-appearance: textfield;
}

@media (max-height: 1079px){
  .exposure-input{
    height: clamp(11px, 2.2cqh, 18px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .exposure-input{
    height: clamp(18px, 1.86cqh, 20px);
  }
}

@media (min-height: 1173px){
  .exposure-input{
    height: clamp(20px, 2.1cqh, 24px);
  }
}

.exposure-btn{
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: rgba(255, 255, 255, 0.2);

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

@media (max-height: 1079px){
  .exposure-btn{
    height: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .exposure-btn{
    height: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .exposure-btn{
    height: clamp(24px, 2.4cqh, 28px);
  }
}

.exposure-btn .text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Inter Regular", sans-serif;

  width: 100%;
  height: 100%;

  color: white;
}

@media (max-height: 1079px){
  .exposure-btn .text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .exposure-btn .text{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .exposure-btn .text{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.exposure-btn:hover{
  background: white;
}

.exposure-btn:hover .text{
  color: black;
}

.countdown-controls{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  top: 4%;
  padding-left: 5%;
}

@media (min-width: 426px) and (max-width: 768px){
  .countdown-controls{
    gap: 7px;
    width: 110px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .countdown-controls{
    gap: 7px;
    width: 112px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .countdown-controls{
    gap: 10px;
    width: 112px;
  }
}

@media (min-width: 1441px){
  .countdown-controls{
    gap: 10px;
    width: clamp(112px, 7cqw, 160px);
  }
}

.countdown-input{
  width: 50%;

  background: #2C2C2C;
  color: white;

  border: 1px solid #555;
  border-radius: 4px;

  text-align: center;
}

.countdown-input::-webkit-inner-spin-button,
.countdown-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.countdown-input {
    -moz-appearance: textfield;
}

.countdown-input:focus {
  outline: none;
}

@media (max-height: 1079px){
  .countdown-input{
    height: clamp(11px, 2.2cqh, 18px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .countdown-input{
    height: clamp(18px, 1.86cqh, 20px);
  }
}

@media (min-height: 1173px){
  .countdown-input{
    height: clamp(20px, 2.1cqh, 24px);
  }
}

.countdown-btn{
  width: 40%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: rgba(255, 255, 255, 0.2);

  border: none;
  border-radius: 0.3vw;

  cursor: pointer;
}

@media (max-height: 1079px){
  .countdown-btn{
    height: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .countdown-btn{
    height: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .countdown-btn{
    height: clamp(24px, 2.4cqh, 28px);
  }
}

.countdown-btn .text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Inter Regular", sans-serif;

  width: 100%;
  height: 100%;

  color: white;
}

@media (max-height: 1079px){
  .countdown-btn .text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .countdown-btn .text{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .countdown-btn .text{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.countdown-btn:hover{
  background: white;
}

.countdown-btn:hover .text{
  color: black;
}

.settings-popup .image-crop-preference{
  position: relative;
  top: 7%;
  gap: 7px;
  width: 100%;
  height: 5%;

  margin-bottom: 9%;

  display: flex;
  align-items: center;
}

.video-size{
  padding-left: 5%;
  color: white;
}

@media (max-height: 1079px){
  .video-size{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .video-size{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .video-size{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.define-button{
  width: 30%;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

@media (max-height: 1079px){
  .countdown-btn{
    height: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .countdown-btn{
    height: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .countdown-btn{
    height: clamp(24px, 2.4cqh, 28px);
  }
}

.define-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.define-button .define_text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter Regular", sans-serif;
  transition: color 0.3s ease;
}

@media (max-height: 1079px){
  .define-button .define_text {
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .define-button .define_text {
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .define-button .define_text {
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.define-button:hover:not(:disabled) {
  background: white;
}

.define-button:hover:not(:disabled) .define_text {
  color: black;
}

.close-button{
  position: absolute;
  top: 3.5%;
  right: 5%;
  cursor: pointer;
}