.darker-popup {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.settings-popup {
  position: absolute;
  transform: translate(-50%, 0%);

  background: #3E3E3E;
  border-radius: clamp(10px, 0.8cqw, 20px);

  height: auto;

  z-index: 20;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-popup {
    width: clamp(200px, 40cqw, 310px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-popup {
    width: clamp(310px, 32.3cqw, 330px);
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-popup {
    width: clamp(340px, 30cqw, 360px);
  }
}

@media (min-width: 1441px){
  .settings-popup {
    width: clamp(370px, 18cqw, 400px);
  }
}

.settings-popup-connection {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: auto;

  z-index: 20;
}

.settings-popup-connection svg {
  display: block;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-popup-connection svg{
    width: clamp(25px, 5cqw, 35px);
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-popup-connection svg{
    width: clamp(35px, 5cqw, 35px);
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-popup-connection svg{
    width: clamp(35px, 5cqw, 40px);
  }
}

@media (min-width: 1441px){
  .settings-popup-connection svg{
    width: clamp(40px, 5cqw, 50px);
  }
}

.settings-popup .text{
  display: flex;
  margin-top: 20px;
  margin-left: 5%;

  width: 80%;

  text-align: center;
  color: white;
  opacity: 1;
}

@media (max-height: 1079px){
  .settings-popup .text{
    font-size: clamp(13px, 2cqh, 15px);
    height: clamp(13px, 2cqh, 15px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-popup .text{
    font-size: clamp(13px, 1.7cqh, 15px);
    height: clamp(13px, 1.7cqh, 15px);
  }
}

@media (min-height: 1173px){
  .settings-popup .text{
    font-size: clamp(18px, 1.9cqh, 21px);
    height: clamp(18px, 1.9cqh, 21px);
  }
}

.settings-buttons-container{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 95%;
  height: fit-content;

  overflow: hidden;

  border-top: 1px solid #707070;

  margin-top: 20px;
  padding-bottom: 20px;
}

.settings-buttons-container .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #999999;
  margin-top: 15px;
}

@media (max-height: 1079px){
  .settings-buttons-container .text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-buttons-container .text{
    font-size: clamp(12px, 1.48cqh, 14px);
  }
}

@media (min-height: 1173px){
  .settings-buttons-container .text{
    font-size: clamp(18px, 1.65cqh, 21px);
  }
}

.settings-buttons-container .label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

@media (max-height: 1079px){
  .settings-buttons-container .label{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .settings-buttons-container .label{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .settings-buttons-container .label{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.settings-buttons-container .language-select{
  width: 95%;

  display: flex;
  flex-direction: row;
  
  padding-left: 7%;

  margin-top: 10px;
}

.language-select .qselect {
    width: 80%;
}

.settings-buttons-container .radio-group{
  width: 95%;

  display: flex;
  flex-direction: row;
  
  padding-left: 7%;

  margin-top: 15px;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-buttons-container .radio-group{
    gap: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-buttons-container .radio-group{
    gap: 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-buttons-container .radio-group{
    gap: 12px;
  }
}

@media (min-width: 1441px){
  .settings-buttons-container .radio-group{
    gap: 14px;
  }
}

.settings-buttons-container .radio-option{
  display: flex;
  align-items: center;
  
  color: white;
}

@media (min-width: 426px) and (max-width: 768px){
  .settings-buttons-container .radio-option{
    gap: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .settings-buttons-container .radio-option{
    gap: 5px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .settings-buttons-container .radio-option{
    gap: 8px;
  }
}

@media (min-width: 1441px){
  .settings-buttons-container .radio-option{
    gap: 8px;
  }
}

.radio-option input[type="radio"]{
    margin: 0;
  }

.radio-option input[type="radio"]:disabled {
  opacity: 0.6;
}

@media (min-width: 426px) and (max-width: 768px){
  .radio-option input[type="radio"]{
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .radio-option input[type="radio"]{
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .radio-option input[type="radio"]{
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 1441px){
  .radio-option input[type="radio"]{
    width: 16px;
    height: 16px;
  }
}

.input-controls{
  gap: 7px;
  width: 100%;
  height: 28px;

  padding-left: 7%;

  display: flex;
  align-items: center;

  margin-top: 10px;
}

.box-input{
  background: #2C2C2C;
  color: white;

  border: 1px solid #555;
  border-radius: 4px;

  text-align: center;

  -moz-appearance: textfield;
}

.box-input::-webkit-inner-spin-button,
.box-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 426px) and (max-width: 768px){
  .box-input{
    width: 55px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .box-input{
    width: 56px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .box-input{
    width: 56px;
  }
}

@media (min-width: 1441px){
  .box-input{
    width: clamp(56px, 3.2cqw, 80px);
  }
}

.box-input:focus {
  outline: none;
}

@media (max-height: 1079px){
  .box-input{
    height: clamp(11px, 2.2cqh, 18px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .box-input{
    height: clamp(18px, 1.86cqh, 20px);
  }
}

@media (min-height: 1173px){
  .box-input{
    height: clamp(20px, 2.1cqh, 24px);
  }
}

.settings-popup .preference{
  position: relative;

  gap: 7px;
  width: 100%;
  height: 20px;

  display: flex;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 15px;
}

.preference-text{
  padding-left: 7%;
  color: white;
}

@media (max-height: 1079px){
  .preference-text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .preference-text{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .preference-text{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.define-button{
  width: 30%;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

@media (max-height: 1079px){
  .define-button{
    height: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .define-button{
    height: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .define-button{
    height: clamp(24px, 2.4cqh, 28px);
  }
}

.define-button:disabled {
  opacity: 0.5;
}

.define-button .define_text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter Regular", sans-serif;
  transition: color 0.3s ease;
}

@media (max-height: 1079px){
  .define-button .define_text {
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .define-button .define_text {
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .define-button .define_text {
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.define-button:hover:not(:disabled) {
  background: white;
}

.define-button:hover:not(:disabled) .define_text {
  color: black;
}

.close-button{
  position: absolute;
  top: 15px;
  right: 5%;
}

.close-icon{
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-height: 1079px){
  .close-icon{
    height: calc(clamp(13px, 2.68cqh, 22px) + 8px);
    width: calc(clamp(13px, 2.68cqh, 22px) + 8px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .close-icon{
    height: calc(clamp(20px, 2.23cqh, 24px) + 8px);
    width: calc(clamp(20px, 2.23cqh, 24px) + 8px);
  }
}

@media (min-height: 1173px){
  .close-icon{
    height: calc(clamp(24px, 2.4cqh, 28px) + 8px);
    width: calc(clamp(24px, 2.4cqh, 28px) + 8px);
  }
}

.close-icon:hover{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media (max-height: 1079px){
  .close-icon svg{
    height: clamp(13px, 2.68cqh, 22px);
    width: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .close-icon svg{
    height: clamp(20px, 2.23cqh, 24px);
    width: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .close-icon svg{
    height: clamp(24px, 2.4cqh, 28px);
    width: clamp(24px, 2.4cqh, 28px);
  }
}

.version-update{
  position: relative;
  gap: 10px;

  margin-top: 30px;
  margin-bottom: 15px;
}

.version-update::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;

    border-bottom: 1px solid #707070;
}

.version-update::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;

    border-bottom: 1px solid #707070;
}

.version-text{
  padding-left: 7%;
  color: white;
}

@media (max-height: 1079px){
  .version-text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .version-text{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .version-text{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.update-modal{
  position: relative;

  width: 100%;

  display: flex;

  box-sizing: border-box;

  border-radius: 8px;
  border: 1px solid #FF666666;

  justify-content: space-between;
  align-items: center;

  margin-top: 15px;

  padding-top: 5px;
  padding-bottom: 5px;

  padding-left: 7%;
  padding-right: 7%;

  overflow: hidden;
}

.update-modal .background{
  position: absolute;
  inset: 0;
  background: #FF00001A;
  opacity: 1;
}

.update-info {
  position: relative;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newUpdate-text{
  color: white;
}

@media (max-height: 1079px){
  .newUpdate-text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .newUpdate-text{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .newUpdate-text{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.about-update {
  margin-top: 5px;
  text-decoration: underline;

  cursor: pointer;
  color: white;
}

@media (max-height: 1079px){
  .about-update {
    font-size: clamp(9px, 1.59cqh, 11px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .about-update {
    font-size: clamp(11px, 1.39cqh, 13px);
  }
}

@media (min-height: 1173px){
  .about-update {
    font-size: clamp(13px, 1.54cqh, 15px);
  }
}

.update-button{
  position: relative;
  width: 40%;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  z-index: 50px;
}

@media (max-height: 1079px){
  .update-button{
    height: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .update-button{
    height: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .update-button{
    height: clamp(24px, 2.4cqh, 28px);
  }
}

.update-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.update-button .update-button-text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter Regular", sans-serif;
  transition: color 0.3s ease;
}

@media (max-height: 1079px){
  .update-button .update-button-text {
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .update-button .update-button-text {
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .update-button .update-button-text {
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}

.update-button:hover:not(:disabled) {
  background: white;
}

.update-button:hover:not(:disabled) .update-button-text {
  color: black;
}

.poweroff-button{
  padding-left: 7%;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 30px;
}

.poweroff-icon{
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-height: 1079px){
  .poweroff-icon{
    height: calc(clamp(13px, 2.68cqh, 22px) + 8px);
    width: calc(clamp(13px, 2.68cqh, 22px) + 8px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .poweroff-icon{
    height: calc(clamp(20px, 2.23cqh, 24px) + 8px);
    width: calc(clamp(20px, 2.23cqh, 24px) + 8px);
  }
}

@media (min-height: 1173px){
  .poweroff-icon{
    height: calc(clamp(24px, 2.4cqh, 28px) + 8px);
    width: calc(clamp(24px, 2.4cqh, 28px) + 8px);
  }
}

.poweroff-icon:hover{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media (max-height: 1079px){
  .poweroff-icon svg{
    height: clamp(13px, 2.68cqh, 22px);
    width: clamp(13px, 2.68cqh, 22px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .poweroff-icon svg{
    height: clamp(20px, 2.23cqh, 24px);
    width: clamp(20px, 2.23cqh, 24px);
  }
}

@media (min-height: 1173px){
  .poweroff-icon svg{
    height: clamp(24px, 2.4cqh, 28px);
    width: clamp(24px, 2.4cqh, 28px);
  }
}

.poweroff-text{
  color: white;
}

@media (max-height: 1079px){
  .poweroff-text{
    font-size: clamp(11px, 1.59cqh, 13px);
  }
}

@media (min-height: 1080px) and (max-height: 1172px){
  .poweroff-text{
    font-size: clamp(13px, 1.39cqh, 15px);
  }
}

@media (min-height: 1173px){
  .poweroff-text{
    font-size: clamp(15px, 1.54cqh, 16.2px);
  }
}