.camera-container {
  position: absolute;
  left: 1.6%;
  top: 15.2%;
  width: 44%;
}

.camera-video-wrapper {
  position: relative;
  width: 100%;

  z-index: 0;
  border-radius: 0.8vw;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-video {
  width: 100%;
  height: 100%;

  display: block;
}

.object-img{
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;

  object-fit: cover;
  
  display: block;
  z-index: 1;
}

.switch-button-wrapper{
  position: absolute;
  
  top: 2%;
  right: 2%;
  width: 18%;
  height: 6%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 10;
}

.switch-group {
  width: 90%;
  height: 90%;

  display: flex;
  overflow: hidden;

  border-radius: 8px;
  border: 1px solid #707070;
  background: rgba(31, 31, 31, 0.6);
}

.switch-mode {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  outline: none;

  cursor: pointer;
  transition: 0.3s ease;
}

.switch-mode + .switch-mode {
  border-left: 1px solid #707070;
}

.switch-mode:hover {
  background: rgba(31, 31, 31, 0.6);
}

.switch-mode.active {
  background: rgba(31, 31, 31, 1);
}

.switch-mode .icon {
  width: 2.5vh;
  transition: filter 0.3s ease;
  filter: invert(0);
}

.volume-button {
  position: absolute;
  left: 47.2%;
  top: 15.2%;
  width: 14.3%;
  height: 8%;

  cursor: pointer;
  border-radius: 0.2vw;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.volume-button-info-container{
  position: absolute;
  top: 25%;
  left: 19.5%;
  height: 50%;
  width:61%;

  display: flex;
  align-items: center;
  gap: 8.6%
}

.volume-button .icon {
  width: 20.7%;
  height: 100%;
  transition: filter 0.3s ease;
}

.volume-button .text {
  color: white;
  text-transform: uppercase;
  width: 70.7%;
  font-family: "Inter Regular", sans-serif;
  font-size: 1.7vh;
  transition: color 0.3s ease;
}

.volume-button:hover {
  background: white;
}

.volume-button:hover .text {
  color: black;
}

.volume-button:hover .icon {
  filter: invert(1);
}

.volumeBundle-button {
  position: absolute;
  left: 47.2%;
  top: 15.2%;
  width: 51.2%;
  height: 8%;

  cursor: pointer;
  border-radius: 0.2vw;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.volumeBundle-button-info-container{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 20%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 5%
}

.volumeBundle-button .icon {
  width: 25%;
  height: 100%;
  transition: filter 0.3s ease;
  margin-left: 5%;
}

.volumeBundle-button .text {
  color: white;
  text-transform: uppercase;
  width: 60%;
  font-family: "Inter Regular", sans-serif;
  font-size: 1.9vh;
  transition: color 0.3s ease;
  margin-right: 5%;
}

.volumeBundle-button:hover {
  background: white;
}

.volumeBundle-button:hover .text {
  color: black;
}

.volumeBundle-button:hover .icon {
  filter: invert(1);
}

.object-selection-menu{
  position: relative;
  left: 47.2%;
  top: 27.2%;
  width: 14.3%;
  height: 68.6%;

  display: flex;
  flex-direction: column;

  font-size: 2vh;

  padding: 2vh 0.75vw;
  box-sizing: border-box;

  overflow-y: auto;
}

.object-selection-menu .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.3;
  z-index: 0;
}

.object-list {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

.object-item{
  color: white;
  cursor: pointer;
  opacity: 0.8;

  display: flex;
  align-items: center;
  margin-bottom: 1.6vh;
}

.arrow {
  width: 0.8vw;
  font-size: 1vh;
  text-align: left;
}

.object-item:hover{
  opacity: 1;
}

.object-item.selected {
  color: #38E1FF;
  opacity: 1;
}

.object-total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 0.8vh;
  margin-top: 0.8vh;
  margin-bottom: 1.6vh;
  margin-left: 0.8vw;

  cursor: default;
  color: white;
  z-index: 1;
}

.total-value {
  font-family: "Inter Bold", sans-serif;
}

.boxInfo-container{
  position: absolute;
  left: 63.1%;
  top: 15.2%;
  width: 35.3%;
  height: 80.54%;

  display: flex;
  flex-direction: column;

  padding: 2vh 1.5vw;
  box-sizing: border-box;

  font-size: 2vh;

  justify-content: flex-start;
  align-items: flex-start;
}

.boxInfo-container .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.3;
  z-index: 0;
}

.boxInfoText-container{
  position: absolute;
  top: 67.8%;
  left: 4.7%;
  height: 28.4%;
  width:90.5%;
}

.boxInfo-text{
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.boxInfo-text .label {
  width: 90.5%;
  text-align: left;
}

.boxInfo-text .value {
  width: 8vw;
  text-align: right;
}

.boxInfo-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 1.7vh;
  font-family: "Inter Regular", sans-serif;
  opacity: 0.8;
  color: white;
  text-align: center;
}

.volume-canvas {
  width: 100%;
  height: 60%;
  z-index: 1;
}

.boxBundleInfo-container{
  position: relative;
  left: 47.2%;
  top: 27.2%;
  width: 51.2%;
  height: 68.54%;

  display: flex;
  flex-direction: column;

  padding: 2vh 1.5vw;
  box-sizing: border-box;

  font-size: 2vh;

  justify-content: flex-start;
  align-items: flex-start;
}

.boxBundleInfo-container .background{
  position: absolute;
  inset: 0;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0.8vw;
  opacity: 0.3;
  z-index: 0;
}

.boxBundleInfoText-container{
  position: absolute;
  top: 50%;
  left: 4.7%;
  height: 36.4%;
  width:30.5%;
  transform: translate(0, -50%);
}

.boxBundleInfo-text{
  display: flex;
  align-items: center;
  margin-bottom: 6%;
}

.boxBundleInfo-text .label {
  width: 90.5%;
  text-align: left;
}

.boxBundleInfo-text .value {
  width: 8vw;
  text-align: right;
}

.boxBundleInfo-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 1.7vh;
  font-family: "Inter Regular", sans-serif;
  opacity: 0.8;
  text-align: center;
}

.volumeBundle-canvas {
  position: absolute;
  top: 50%;
  left: 20.7%;
  width: 100%;
  height: 60%;
  transform: translate(0, -50%);
  z-index: 1;
}

.error-modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  font-size: 2vh;

  border-radius: 0.8vw;
  border: 1px solid #FF666666;

  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.error-modal .background{
  position: absolute;
  inset: 0;
  background: #FF00001A;
  opacity: 1;
}

.error-modal .icon{
  position: relative;
  z-index: 1;

  width:100%;
  height:30%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FF6666;
}

.error-modal .icon svg {
  height: 100%;
}

.error-modal .text{
  position: relative;
  z-index: 1;

  width:90%;
  height:30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #FF6666;
  margin-left: 5%;
  margin-right: 5%;
}

.loadingVolume-icon {
  position: absolute;
  display: flex;
  justify-content: center;

  top: 15vh;
}

.loadingVolume-icon img{
  width: 3vw;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.volume-processing{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 25vh;
  color: white;
  font-size: 1.8vh;
}

.countdown {
  position: absolute;

  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex; 
  justify-content: center; 
  align-items: center;

  width: 50%; 
  height: 20%; 
  
  font-size: 5vh; 
  font-weight: bold; 
  color: white; 
  
  z-index: 9999; 
}