/* ==========================
   QSEARCH — input with trailing icon
========================== */

.qsearch {
  position: relative;
  width: 70%;
}

.qsearch__field {
  width: 100%;
  /* padding: 0.85rem 2.8rem 0.85rem 0.9rem; */
  padding: 17px 16px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease;
  color: white;
}

.qsearch__field:focus {
  outline: none;
}

.qsearch__field::-webkit-search-cancel-button {
  display: none;
}

.qsearch__icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--color-white-70);
  pointer-events: none;
}
