.menu-img {
  position: absolute;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  top: 4%;
  right: 1.46%;
  height: 4.5vh;

  z-index: 1;
  transition: 0.3s;

  background: transparent;
  border:  none;
  padding: none;
  appearance: none;
}

.menu-img img {
  height: 100%;
  object-fit: contain;
}

.menu-img img:hover {
  transform: scale(1.05);
}

.menuSideNav {
  position: absolute;
  top: 4%;
  right: 4.47%;
  height: 4.5vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  
  background-color: transparent;
}

.menuSideNav .nav-item {
  position: relative;
  font-family: "Inter Regular";
  display: none;
  cursor: pointer;

  height: 70%;

  font-size: 2vh;
  margin-right: 1.5vw;

  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  text-align: center;
  align-items: center;  
  justify-content: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menuSideNav.open .nav-item{
  display: flex;
  opacity: 1;
}

.menuSideNav .nav-item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: 0.3s;
}

.menuSideNav .nav-item.active:hover {
  background: rgba(255, 255, 255, 0);
}

.menuSideNav .nav-item.active {
  font-family: "Inter Bold";
  display: flex;
  opacity: 1;
  font-weight: 700;
}

.menuSideNav .nav-item.active::before {
  content: '•';
  position: absolute;
  left: 4px;
}

.menuSideNav .nav-icon-container {
    height: 90%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 1vw;

    cursor: pointer;

    color: white;
    border-radius: 20px;
    transition: opacity 0.3s;
    
}

.menuSideNav .nav-icon-container:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.menuSideNav .nav-icon-container.hidden {
  display: none;
}

.menuSideNav .nav-icon-container.active {
  background: white;
  transition: 0.3s;
  z-index: 20;
}

.menuSideNav .nav-icon {
  height: 90%;
  object-fit: contain;
}

.menuSideNav .nav-icon.active {
  color: black;
  transition: 0.3s;
}

.menuSideNav .nav-icon.hidden {
  display: none;
}