.systemLoader{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 15%;
}

.initText{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  width: 12.7%;
  height: 6%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.7vh;
  color: white;
}